/* https://images.unsplash.com/photo-1558979158-65a1eaa08691 */
/* https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d */
/* https://images.unsplash.com/photo-1507525428034-b723cf961d3e */
/* https://images.unsplash.com/photo-1551009175-8a68da93d5f9 */
/* https://images.unsplash.com/photo-1549880338-65ddcdfd017b */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 62.5%;
}

.cards{
    display: flex;
    width: 90dvw;
}

.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    flex:0.5;
    border-radius: 50px;
    position: relative;
    margin: 0.5rem;
    cursor: pointer;
    transition: flex 0.3s;
}

.card h2{
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    opacity: 0;
    transition: opacity 0.5s;
}

.card.active{
    flex: 5;   
}
.card.active h2{
    opacity: 1;
}


